{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<h1>Wallets</h1>

{% from "common/form_macros.html" import render_field, render_submit_field %}
<form action="" method="POST" class="form" role="form">
    <div class="row">
        <!--<div class="col-sm-6 col-md-5 col-lg-4">-->
        <div class="col-sm-12 col-md-12 col-lg-8">
            {{ form.hidden_tag() }}
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Address</th>
                    <th>Network</th>
                    <th>Balance</th>
                    <th>Delete?</th>
                </tr>
                {% for wallet in current_user.wallets %}
                <tr>
                    <td>{{wallet.address}}</td>
                    <td>{{wallet.network.name}}</td>
                    <td>{{wallet.balance / 10**18}}</td>
                    <td><input type=checkbox name=do_delete value="{{wallet.id}}" /></td>
                </tr>
                {% endfor %}
            </table>

            {{ render_submit_field(form.delete, tabindex=280) }}
        </div>
    </div>
</form>

{% endblock %}